@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typewriter effect taken from https://css-tricks.com/snippets/css/typewriter-effect */
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  overflow-wrap: break-word;
  border-right: 0.15em solid rgb(171, 170, 170); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0; /* Gives that scrolling effect as the typing happens */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
  display: inline-block;
  max-width: fit-content;
}

.typeCaret {
  border-right: 0.15em solid rgb(171, 170, 170); /* The typwriter cursor */
  animation: blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(171, 170, 170);
  }
}
